<div class="face-snap-card" [ngClass]="{ snapped: snapped}">
    <h1>photo-share works!</h1>
    <!-- <h2>{{faceSnap.title | uppercase}}</h2>
    <h2>{{faceSnap.title | lowercase}}</h2> -->
    <h2>{{faceSnap.title | titlecase}}</h2>
    <p *ngIf="faceSnap.location">Vit à {{faceSnap.location}}.</p>
    <p>{{faceSnap.description}}</p>
    <!-- <p>Mis en ligne le {{faceSnap.created | date}}</p>
    <p>Mis en ligne le {{faceSnap.created | date: 'longDate'}}</p> -->
    <p>Mis en ligne {{faceSnap.created | date: 'à HH:mm, le d MMMM yyyy'}}</p>
    <p>
        <button type="button" (click)="onSnap()">
            {{txtBtnSnapped}}
        </button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snapNumber + ', 0)' }">{{faceSnap.snapNumber}}</span>
    </p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
</div>